<!--@{
    ViewData["Title"] = "关于我们";
}
<h1>@ViewData["Title"]</h1>-->


<div style="font-size:larger">

    <p>此项目为数据库课程设计2022期末项目。</p>
    <p>如果你看到这个视图说明登录成功。<br />正常应该跳转到相应角色的视图，但是那些视图还没有做&#128517;</p>

</div>
