@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<User>



<div>
    <input type="button" onclick="show()" value="点击测试"/>
    <label id="demo">这里是</label>

    <table>

        <tr>
            <th>账号</th>
            <th>密码</th>
            <th>角色</th>
        </tr>



        @foreach (var user in Model)
        {


            <tr>
                <td>@user.ID &nbsp</td>
                <td>@user.PASSWORD &nbsp</td>
                <td>@user.ROLE &nbsp</td>
            </tr>

        }

    </table>
</div>


@section Scripts{
    <script type="text/javascript">
        function show() {
            /*在js中使用加单引号''   好像不加也行*/
            if(@Model.First().ID == "2053699")
                document.getElementById("demo").innerHTML = "success";
            else
                document.getElementById("demo").innerHTML = 'failure';
        }
    </script>
}
